@model List<DAL.StudentView.SubmitAssessmentView>
@{
    ViewBag.Title = "GetSubjectAssessments";
    Layout = "~/Areas/Student/Views/Shared/_BlankStudentLayout.cshtml";
}

<h2>GetSubjectAssessments</h2>

