@model List<DAL.StudentView.CourseDetailsView>
@{
    ViewBag.Title = "GetTopicStudent";
    Layout = "~/Areas/Student/Views/Shared/_BlankStudentLayout.cshtml";
}

@if (Model.Count == 0)
{
    <h3 style="color:#aaa">Không có topic để hiển thị !</h3>
}
else
{
    <h2>@Model[0].courseName</h2>
    <div class="card">
        @foreach(var item in Model)
        {
            <div class="card-header">
                @item.topicTitle
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@item.topicDescription</p>
                    <p>@item.eventTitle</p>
                </blockquote>
            </div>
        }
    </div>
}


