
@{
    Layout = null;
}

<div class="all">
    <div class="ft-info">
        <h4 class="hd">HCM UNIVERSITY OF TECHNOLOGY & EDUCATION</h4>
        <p>Address: 1 Vo Van Ngan, Thu Duc District , HCMC</p>
        <p>Hot line: <a href="tel:+">0976 537 368</a></p>
    </div>
</div>