
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="p-4">
        <nav class="navbar">
            <a data-toggle="modal" href="#login">Đăng nhập</a>
        </nav>
    </div>
    <div>@RenderBody()</div> <!--content-->
    <div></div>  <!--footer-->
    <!--///////////////////////////login////////////////////////////////////-->
    <div class="modal" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="err_login"></div>
                <form action="/Home/Login" method="post" id="frm-login">
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div id="login-here">
                            <div><label for="email">Email</label></div>
                            <div>
                                <input type="email" id="email" class="form-control" />
                            </div>
                            <div class="mb-1"></div>
                            <div id="err_mail"></div>
                            <div><label for="password">Password</label></div>
                            <div>
                                <input type="password" id="password" class="form-control" />
                            </div>
                            <div class="mb-1"></div>
                            <div id="err_password"></div>
                            <br />
                            <a href="/Home/QuenMatKhau" class="text-danger">Quên mật khẩu</a>
                            <div class="text-center"><button type="submit" class="btn btn-primary">Đăng nhập</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-------------------Ajax login------------------------------------------------>
    <script>
        $(document).ready(function ()
        {
            $("#frm-login").submit(function (e)
            {
                if ($("#email").val() == '' && $("#password").val() == '')
                {
                    $("#err_mail").show();
                    $("#err_password").show();
                    $("#err_mail").html('<div class="text-danger">Username chưa nhập</div>');
                    $("#email").focus();
                    $("#err_password").html('<div class="text-danger">Password chưa nhập</div>');
                    return false;
                }
                else if ($("#email").val() == '')
                {
                    $("#err_password").hide();
                    $("#err_mail").show();
                    $("#err_mail").html('<div class="text-danger">Username chưa nhập</div>');
                    $("#email").focus();
                    return false;
                }
                else if ($("#password").val() == '')
                {
                    $("#err_mail").hide();
                    $("#err_password").show();
                    $("#err_password").html('<div class="text-danger">Password chưa nhập</div>');
                    $("#err_password").focus();
                    return false;
                }
                else
                {
                    var form_data_login = {
                        email: $("#email").val(),
                        password: $("#password").val()
                    };
                    $.ajax({
                        url: '/Home/Login',
                        type: 'POST',
                        async: true,
                        data: form_data_login,
                        success: function (msg_login) {
                            if (msg_login == 'false') {
                                $("#err_login").html('<div class="alert alert-danger">Tên hoặc mật khẩu không chính xác</div>');
                                $("#password").focus();
                                return false;
                            }
                            else {
                                $("#login-here").hide();
                                $("#err_login").html('<div class="alert alert-success"><strong>Đăng nhập thành công</strong><span> Hệ thống tự chuyển sau vài giây ...</span></div>');
                                setTimeout(
                                    function () {
                                        window.location.href = msg_login;
                                    }, 1000
                                );
                            }
                        }
                    })
                    return false;
                }
             });
        })
    </script>
</body>
</html>



