
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="d-flex align-items-center flex-column">

    <h1 class="mt-5">Error</h1>
    <h2>Bạn không có quyền truy cập trang này !</h2>
    <button type="button" onclick="back()" class="btn btn-primary">Quay lại</button>

    <script>
        function back() {
            history.back();
        }
    </script>
</body>
</html>

