@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="information">
    <div class="all">
        <div class="information-content">
            <div class="col-dt">
                <div class="content-entry">
                    <h1 class="hd">
                        HCM UNIVERSITY OF TECHNOLOGY & EDUCATION <br />
                        <span id="typed-js" class="color3"></span>
                    </h1>
                    Shorten the distance, save time, high efficiency, support
                    anytime, anywhere, ...
                </div>
            </div>
        </div>
    </div>
</section>