@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BlankAdminLayout.cshtml";
}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Giảng viên
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="CountTeacher">
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Sinh viên
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="CountStudent"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Earnings (Monthly) Card Example -->
    <!--<div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Tasks
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Môn học
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="CountSubjects"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Học phần
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="CountCourse"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="chartContainer" style="height: 300px; width: 100%;"></div>*@
<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Tỉ lệ giảng viên</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-pie pt-4 pb-2" id="chartContainer">
                @*<canvas id="chartContainer"></canvas>*@
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Gender()
        CountTeacher()
        CountStudent()
        CountCourse()
        CountSubjects()
    }
    )
    function CountCourse() {
        $.ajax({
            url: "/Admin/Home/CountCourse",
            dataType: "json",
            type: 'GET',
            success: function (response) {
                $("#CountCourse").html(response.data);
            }
        })
    }
    function CountTeacher() {
        $.ajax({
            url: "/Admin/Home/CountTeacher",
            dataType: "json",
            type: 'GET',
            success: function (response) {
                $("#CountTeacher").html(response.data);
            }
        })
    }
    function CountStudent() {
        $.ajax({
            url: "/Admin/Home/CountStudent",
            dataType: "json",
            type: 'GET',
            success: function (response) {
                $("#CountStudent").html(response.data);
            }
        })
    }
    function CountSubjects() {
        $.ajax({
            url: "/Admin/Home/CountSubjects",
            dataType: "json",
            type: 'GET',
            success: function (response) {
                $("#CountSubjects").html(response.data);
            }
        })
    }
    function Gender() {
        $.ajax({
            url: "/Admin/Home/GetPieData",
            dataType: "json",
            type: 'GET',
            success: function (response) {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    data: [{
                        type: "pie",
                        startAngle: 500,
                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: [
                            { y: response.male, label: "Nam" },
                            { y: response.female, label: "Nữ" },

                        ]
                    }]
                });
                chart.render();
            }
        });
    }
</script>