@model DAL.EF.SEMESTER

<div class="sidebar-header">
    <img src="~/Content/Common/utex.png" alt="HCMUTE" width="100px" class="ml-4" />
</div>

<ul class="list-unstyled components">
    <p></p>
    <li>
        <a href="#subjectSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Môn học</a>
        <ul class="collapse list-unstyled" id="subjectSubmenu">
            @{ Html.RenderAction("Subjects", "MenuSideBar", new { area = "Student" });}
        </ul>
    </li>
    <li>
        <a href="#asessmentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Đánh giá</a>
        <ul class="collapse list-unstyled" id="asessmentSubmenu">
            @{ Html.RenderAction("SubjectAssessments", "MenuSideBar", new { area = "Student" });}
        </ul>
    </li>
    <li>
        <a href="#courseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Khóa học</a>
        <ul class="collapse list-unstyled" id="courseSubmenu">
            @{ Html.RenderAction("Semester", "MenuSideBar", new { area = "Student" });}
        </ul>
    </li>
    <li>
        <a href="/Profile/Index">Thông tin cá nhân</a>
    </li>
    <li>
        <a href="#">Đăng xuất</a>
    </li>
</ul>
