<div class="modal fade" id="InfoStudent">
    <div class="modal-dialog" style="max-width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin giảng dạy</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="form-group row" style="margin-left:0; margin-right:0">
                                <label for="NameStudent" class="col-md-2 col-form-label">Sinh viên:</label>
                                <div class="col-md-4">
                                    <input type="text" readonly class="form-control-plaintext" id="NameStudent" value="" style="padding:5px">
                                </div>
                            </div>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Học phần</th>
                                        <th>Mô tả học phần</th>
                                        <th>Khóa học</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tblData-Course">
                                </tbody>
                            </table>
                            <div id="pagination" class="pagination"></div>
                            <script id="data-InfoCourse" type="x-tmpl-mustache">
                                <tr>
                                    <input type="hidden" value="{{IDCOURSE}}"/>
                                    <td>{{NAMECOURSE}}</td>
                                    <td>{{DESCRIPTION}}</td>
                                    <input type="hidden" value="{{IDSEMESTER}}"/>
                                    <td>{{SEMESTER}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-delete-Course" data-id="{{IDCOURSE}}"><i class="fa fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
